{% extends "app/layout.html" %}

{% block content %}

<h2>Consultopy</h2>
<h3>A mais nova empresa no Brasil em desenvolvimento em python.</h3>

<address>
    Empresa Software Soluções em python<br />
    Rua manaus ,1033<br />
    <abbr title="Telefone">Tel:</abbr>
    3021-1193
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporteconsultpy@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketingpyconsul@example.com">Marketing@example.com</a>
</address>

{% endblock %}
